Domain/Domain.csproj
Domain/Properties/
Domain/bin/
Domain/obj/

ConsoleApp1
JAPTV.sln
obj
packages
.vs

DataAccess/DataAccess.csproj
DataAccess/Properties
DataAccess/SqlDataAccess.cs
DataAccess/bin

