Domain/Domain.csproj
Domain/Properties/
Domain/bin/
Domain/obj/

ConsoleApp1
JAPTV.sln
obj
packages
.vs

DataAccess/DataAccess.csproj
DataAccess/Properties
DataAccess/SqlDataAccess.cs
DataAccess/bin

WebApplication/App_Start
WebApplication/Content
WebApplication/Global.asax
WebApplication/Global.asax.cs
WebApplication/Properties
WebApplication/Scripts
WebApplication/Web.Debug.config
WebApplication/Web.Release.config
WebApplication/Web.config
WebApplication/WebApplication.csproj
WebApplication/WebApplication.csproj.user
WebApplication/bin/
WebApplication/favicon.ico
WebApplication/fonts/
WebApplication/packages.config

Entities.Models/bin/Debug/DataAccess.dll
Entities.Models/bin/Debug/DataAccess.pdb
Entities.Models/bin/Debug/Domain.dll
Entities.Models/bin/Debug/Domain.pdb
Entities.Models/bin/Debug/Entities.Models.dll
Entities.Models/bin/Debug/Entities.Models.pdb
Entities.Models/bin/Debug/Microsoft.Web.Infrastructure.dll
Entities.Models/bin/Debug/System.Web.Mvc.dll
Entities.Models/bin/Debug/System.Web.Mvc.xml
Entities.Models/bin/Debug/System.Web.Optimization.dll
Entities.Models/bin/Debug/System.Web.Optimization.xml
Entities.Models/bin/Debug/System.Web.Razor.dll
Entities.Models/bin/Debug/System.Web.Razor.xml
Entities.Models/bin/Debug/System.Web.WebPages.Deployment.dll
Entities.Models/bin/Debug/System.Web.WebPages.Deployment.xml
Entities.Models/bin/Debug/System.Web.WebPages.Razor.dll
Entities.Models/bin/Debug/System.Web.WebPages.Razor.xml
Entities.Models/bin/Debug/System.Web.WebPages.dll
Entities.Models/bin/Debug/System.Web.WebPages.xml
Entities.Models/bin/Debug/WebApplication.dll
Entities.Models/bin/Debug/WebApplication.dll.config
Entities.Models/bin/Debug/WebApplication.pdb
