@model Entities.Models.User
@using DataAccess

@{
    ViewBag.Title = "User Index";
    SqlDataAccess2 da = new SqlDataAccess2();
}

<h2>User Index</h2>

<h6>Hello @Model.Name</h6>

@foreach (Entities.Models.Movie m in da.LoadMovies())
{
<img src="@m.PosterLink" alt="@m.Name" />
}


